<!-- confirmation.hbs -->
<html lang='en'>

<body>
    <p>Hello {{name}},</p>
    <br />
    <p>Welcome to Halla,</p>
    <p>
        Your One-Time Password (OTP) for account verification is: <b>{{link}}</b>
    </p>
    <p>
        Please enter this OTP on the verification page to activate your account.
    </p>
    <br />
    <p>Best of luck,</p>
    <p>Halla Team</p>
</body>

</html>
